.body-form { /*  Estilos para el cuerpo */
  background-color: rgba(74, 27, 27, 0.194); /* Cambia el color del fondo */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Cambia la fuente */
}

#cont-form { /* Estilos para el contenedor cont-form */
  display: flex; /* Establece contenedor 'flexible' */
  justify-content: center; /* Centra los elementos en el centro */
  width: 100%; /* Ancho del contenedor al 100% */
  min-height: 700px /* Establece la altura mínima del contenedor a 700px */
}

.formulario { /* Estilos para el contenedor formulario (.formulario) */
  background-color: #e0dddd;
  padding: 20px; /* Agrega espacio interno alrededor */
  width: 300px;
  border: 1px solid black; /* Borde al formulario con grosor de 1px negro */
}

.txt-form { /* Estilos para los elementos del texto */
  display: block; /* Disposicion de los contenedores como bloques */ 
  margin-bottom: 8px;
}

.input-form { /* Estilos para los campos de entrada */
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box /* Define el modelo de caja como "border-box", 
  lo que incluye el borde y el relleno en el ancho y alto del elemento.*/
}

#btn-form { /* Estilos para el botón */
  background-color: #010101;
  color: #fff;
  padding: 10px;
  border: 1px solid black;
  width: 100%;
}